## messageSource=classpath:/siteonecore/messages/email-contactSeller_$lang.properties
#macro( genHtmlBoldFont $text )
<font color="#414a4f" size="2" ><b>$text</b></font>
#end
#macro(genHtmlLinkStartTag $url)
<a href="$url"><font color="#666666">
#end
#macro(genHtmlLinkEndTag)
</font></a>
#end
#macro(genHtmlLink $url $textColor $bodyContent)
<a href="$url"><font color="$textColor">$bodyContent</font></a>
#end
#if(${ctx.countryBaseSiteID} == "siteone-ca")
    <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="max-width: 600px; min-width: 400px; font-size: 15px; font-family: Arial, Helvetica, sans-serif; color: #000000; border: 1px solid #ccc;">
		<thead>
			<tr>
        <th colspan="1" valign="left" align="left" style="padding: 24px;">
            <a style="text-decoration:none;" href="${ctx.baseThemeUrl}">
                <img title="SiteoneLogo" src="${ctx.baseThemeUrl}/_ui/responsive/theme-lambda/images/SiteoneLogo.jpg" alt="SiteoneLogo" width="176" height="67">
            </a>
        </th>
            <th colspan="1" valign="right" align="right" class="padding: 20px;">
                 <td>
                    <a style="text-decoration:none; padding-right: 15px;" href="https://www.facebook.com/siteonesupplycanada/">
                        <img src="${ctx.baseThemeUrl}/_ui/responsive/theme-lambda/images/Print_facebook_color.png" alt="Facebook" title="Facebook" width="24">
                    </a>
                </td>
                 <td>
                    <a style="text-decoration:none; padding-right: 15px;" href="https://www.instagram.com/Siteonesupplycanada/">
                        <img src="${ctx.baseThemeUrl}/_ui/responsive/theme-lambda/images/Print_instagram_color.png" alt="Instagram" title="Instagram" width="24">
                    </a>
                </td>
                <td>
                    <a style="text-decoration:none; padding-right: 15px;" href="https://x.com/SiteOneCanada">
                        <img src="${ctx.baseThemeUrl}/_ui/responsive/theme-lambda/images/Print_twitter_color.png" alt="X" title="X" width="24">
                    </a>
                </td>
            </th>
        </tr>
		</thead>
		<tbody>
			<tr>
		<th colspan="6" align="left" style="background-color: #f1f2f2; font-weight: bold; padding: 20px;font-size:16px;">
			<p style="margin: 0; padding: 0px 0px 0px 4px;">${ctx.approverName},<br><br>
             You have an update on the quote from ${ctx.customerName}.</p>
		</th>
	   </tr>
			<tr>
				<td colspan="12" style="padding:35px 25px 35px 25px; color: #5a5b5d; line-height: 25px;">
					<p style="font-weight: bold;"><a href="${ctx.baseThemeUrl}/my-account/my-quotes/${ctx.quoteNumber}" style="color: #78a22f; text-decoration:none !important; text-decoration:none;" target="_blank">Quote #${ctx.quoteNumber}</a> has been commented on:</p>
					<p>${ctx.quoteComments}</p>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="12" valign="top" style="padding: 10px 10px 10px 0;background-color: #f1f2f2;font-weight:bold;color: #414244;font-size: 15px;">
	                <p style="margin-left: 20px; color: #000000;">Customer Contact Information</p>
	            </td>
			</tr>
			<tr>
				<td colspan="12" valign="top">
				    #if((${ctx.accountName} && ${ctx.accountName} != '') && (${ctx.accountId} && ${ctx.accountId} != '' ))
					<p style="margin: 20px 0 1px 20px; font-size:14px;">${ctx.accountName}&nbsp;${ctx.accountId}</p>
					#end
					#if(${ctx.customerName} && ${ctx.customerName} != '')
						<p style="margin: 0px 0 1px 20px; font-size:14px;">${ctx.customerName}</p>
					#end
					#if(${ctx.phoneNumber} && ${ctx.phoneNumber} != '')
						<p style="margin: 0px 0 1px 20px; font-size:14px;">${ctx.phoneNumber}</p>
					#end
					#if(${ctx.customerEmailAddress} && ${ctx.customerEmailAddress} != '')
						<p style="margin: 0px 0 20px 20px; font-size:14px;">${ctx.customerEmailAddress}</p>
					#end
				</td>
	        </tr>
		</tfoot>
	</table>
#else
	<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="max-width: 600px; min-width: 400px; font-size: 15px; font-family: Arial, Helvetica, sans-serif; color: #000000; border: 1px solid #ccc;">
		<thead>
			<tr>
        <th colspan="1" valign="left" align="left" style="padding: 24px;">
            <a style="text-decoration:none;" href="${ctx.baseThemeUrl}">
                <img title="SiteoneLogo" src="${ctx.baseThemeUrl}/_ui/responsive/theme-lambda/images/SiteoneLogo.jpg" alt="SiteoneLogo" width="176" height="67">
            </a>
        </th>
            <th colspan="1" valign="right" align="right" class="padding: 20px;">
                 <td>
                    <a style="text-decoration:none; padding-right: 15px;" href="https://www.facebook.com/SiteOneLandscape/">
                        <img src="${ctx.baseThemeUrl}/_ui/responsive/theme-lambda/images/Print_facebook_color.png" alt="Facebook" title="Facebook" width="24">
                    </a>
                </td>
                 <td>
                    <a style="text-decoration:none; padding-right: 15px;" href="https://www.instagram.com/siteonesupply/">
                        <img src="${ctx.baseThemeUrl}/_ui/responsive/theme-lambda/images/Print_instagram_color.png" alt="Instagram" title="Instagram" width="24">
                    </a>
                </td>
                <td>
                    <a style="text-decoration:none; padding-right: 15px;" href="https://x.com/SiteOneSupply">
                        <img src="${ctx.baseThemeUrl}/_ui/responsive/theme-lambda/images/Print_twitter_color.png" alt="X" title="X" width="24">
                    </a>
                </td>
            </th>
        </tr>
		</thead>
		<tbody>
			<tr>
		<th colspan="6" align="left" style="background-color: #f1f2f2; font-weight: bold; padding: 20px;font-size:16px;">
			<p style="margin: 0; padding: 0px 0px 0px 4px;">${ctx.approverName},<br><br>
             You have an update on the quote from ${ctx.customerName}.</p>
		</th>
	   </tr>
			<tr>
				<td colspan="12" style="padding:35px 25px 35px 25px; color: #5a5b5d; line-height: 25px;">
					<p style="font-weight: bold;"><a href="${ctx.baseThemeUrl}/my-account/my-quotes/${ctx.quoteNumber}" style="color: #78a22f; text-decoration:none !important; text-decoration:none;" target="_blank">Quote #${ctx.quoteNumber}</a> has been commented on:</p>
					<p>${ctx.quoteComments}</p>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="12" valign="top" style="padding: 10px 10px 10px 0;background-color: #f1f2f2;font-weight:bold;color: #414244;font-size: 15px;">
	                <p style="margin-left: 20px; color: #000000;">Customer Contact Information</p>
	            </td>
			</tr>
			<tr>
				<td colspan="12" valign="top">
				    #if((${ctx.accountName} && ${ctx.accountName} != '') && (${ctx.accountId} && ${ctx.accountId} != '' ))
					<p style="margin: 20px 0 1px 20px; font-size:14px;">${ctx.accountName}&nbsp;${ctx.accountId}</p>
					#end
					#if(${ctx.customerName} && ${ctx.customerName} != '')
						<p style="margin: 0px 0 1px 20px; font-size:14px;">${ctx.customerName}</p>
					#end
					#if(${ctx.phoneNumber} && ${ctx.phoneNumber} != '')
						<p style="margin: 0px 0 1px 20px; font-size:14px;">${ctx.phoneNumber}</p>
					#end
					#if(${ctx.customerEmailAddress} && ${ctx.customerEmailAddress} != '')
						<p style="margin: 0px 0 20px 20px; font-size:14px;">${ctx.customerEmailAddress}</p>
					#end
				</td>
	        </tr>
		</tfoot>
	</table>
#end
