 #macro( genHtmlBoldFont $text )
<font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif"><b>$text</b></font> #end #macro(genHtmlLinkStartTag $url)
<a href="$url"><font color="#666666">
#end
#macro(genHtmlLinkEndTag)
</font></a> #end #macro(genHtmlLink $url $textColor $bodyContent)
<a href="$url"><font color="$textColor">$bodyContent</font></a> #end

<html>
	<head>
	</head>
	<body bgcolor="#ffffff">
	<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td><p><font style="font-family:Arial;font-weight:regular;font-size:16px;color:#565656;">Environment - ${ctx.environment} </font></p></td>
		</tr>		
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td><p><font style="font-family:Arial;font-weight:regular;font-size:16px;color:#565656;">These are the products with no visible UOM<br></font></p></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
	</table>
</body>
</html>